In [75]:
import seaborn as sns
import pandas as pd

df = pd.read_csv('wfh_2.csv', parse_dates=['date'], skiprows=[0], usecols=range(1,11),
                 names=['bu', 'date', 'aht',
                        'handle_time', 'volume', 'conformance',
                       'adherence', 'abandonment rate', 'service level', 'unplanned out'])
df.head()

,bu,date,aht,handle_time,volume,conformance,adherence,abandonment rate,service level,unplanned out
0,RAM,2019-01-01,1256,1213387.0,1014,79.15%,75.58%,0.00%,0,0.000000
1,RAM,2019-01-02,941,1870982.0,2012,98.10%,93.69%,19.43%,0,51.500000
2,RAM,2019-01-03,842,1363789.0,1667,96.46%,92.01%,26.21%,0,68.000000
3,RAM,2019-01-04,812,1803689.0,2290,93.01%,89.59%,22.01%,0,116.750000
4,RAM,2019-01-07,829,2377944.0,2876,99.65%,92.28%,49.30%,0,71.833333

# Clean Data

In [76]:
# reformat columns
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month_name()

for kpi in ['conformance', 'adherence', 'abandonment rate']:
    df[kpi] = pd.to_numeric(df[kpi].str.replace('%', ''), errors='coerce')/100
    
df['aht'] = pd.to_numeric(df['aht'], errors='coerce', downcast='integer')
df['handle_time'] /= 3600
df['aht'] /= 60

In [77]:
df.to_csv('clean_wfh_2.csv')
pd.read_csv('clean_wfh_2.csv', index_col=0)

,bu,date,aht,handle_time,volume,conformance,adherence,abandonment rate,service level,unplanned out,year,month
0,RAM,2019-01-01,20.933333,337.051944,1014,0.7915,0.7558,0.0000,0,0.000000,2019,January
1,RAM,2019-01-02,15.683333,519.717222,2012,0.9810,0.9369,0.1943,0,51.500000,2019,January
2,RAM,2019-01-03,14.033333,378.830278,1667,0.9646,0.9201,0.2621,0,68.000000,2019,January
3,RAM,2019-01-04,13.533333,501.024722,2290,0.9301,0.8959,0.2201,0,116.750000,2019,January
4,RAM,2019-01-07,13.816667,660.540000,2876,0.9965,0.9228,0.4930,0,71.833333,2019,January
...,...,...,...,...,...,...,...,...,...,...,...,...
2455,Participant Transactions,2020-11-12,10.516667,393.878056,2020,NaN,NaN,0.4916,0,24.500000,2020,November
2456,Participant Transactions,2020-11-13,10.000000,338.818889,2163,0.8695,0.8349,0.4877,0,0.000000,2020,November
2457,Participant Transactions,2020-11-16,9.650000,427.237500,2628,0.9689,0.8375,0.4559,0,19.500000,2020,November
2458,Participant Transactions,2020-11-17,10.200000,418.122500,2484,0.9610,0.8527,0.5012,0,1.500000,2020,November
2459,Participant Transactions,2020-11-18,10.466667,394.153611,2205,0.9743,0.8588,0.5351,0,3.250000,2020,November

In [78]:
df.describe()

,aht,handle_time,volume,conformance,adherence,abandonment rate,unplanned out,year
count,2438.000000,2440.000000,2460.000000,1915.000000,1916.000000,2438.000000,2460.000000,2460.000000
mean,10.489103,521.952719,3104.913008,0.936816,0.849212,0.557718,62.769627,2019.469512
std,4.059194,293.474459,1783.292662,0.070598,0.098557,1.222566,77.236369,0.499171
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2019.000000
25%,8.200000,313.308819,2054.000000,0.910900,0.779750,0.029325,13.500000,2019.000000
50%,9.700000,423.728056,2449.500000,0.955400,0.879700,0.333900,34.250000,2019.000000
75%,11.466667,688.519861,3311.750000,0.976350,0.932400,0.934425,77.875000,2020.000000
max,55.300000,1810.777500,13976.000000,1.130200,1.000000,44.016400,511.583333,2020.000000